@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


.header {
  font-family: 'Poppins', sans-serif;
  z-index: 10;
  font-size: 2em;
  background-color: #34eb67;
  padding:0px;
  font-weight: 700;
  color: #fff;
}
