@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
}
.header {
  background-color: #34eb67;
}
.header a {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  z-index: 10;
}
